.city-details {
    margin-top: 20px;
}
.event-details{

    margin-top:20px;
}
#dance1{

margin-left: 20px;
margin-right: 20px;

}
#dance3{

    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
